<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	<!-- All bean definations -->

	<beans profile="test,dev">
		<task:scheduled-tasks scheduler="taskScheduler">
			<task:scheduled ref="accessLogSummerizeJob" method="task" cron="0 0 * * * *" />
		</task:scheduled-tasks>
		<task:scheduled-tasks scheduler="taskScheduler">
			<task:scheduled ref="bandwidthConsumptionTrackJob"	method="task" cron="0 0 4 * * *" />
		</task:scheduled-tasks>
		<task:scheduled-tasks scheduler="taskScheduler">
			<task:scheduled ref="cdnTrafficLogsJob" method="task" cron="0 0/5 * * * *" />
		</task:scheduled-tasks>
	</beans>
	<beans profile="prod">
		<task:scheduled-tasks scheduler="taskScheduler">
			<task:scheduled ref="accessLogSummerizeJob" method="task" cron="0 0 * * * *" />
		</task:scheduled-tasks>
		<task:scheduled-tasks scheduler="taskScheduler">
			<task:scheduled ref="bandwidthConsumptionTrackJob" method="task" cron="0 0 4 * * *" />
		</task:scheduled-tasks>
	</beans>
</beans>